<section class='tab actions' data-tab='actions'>
	<section class='item-list spells'>
		{{#each spells}}
			<div class='item spell'>
				<div class='row'>
					<div>{{name}}</div>
					<div>
						{{#each system.requirements}}
							{{#if id}}
								<img src='systems/madness/resources/icons/magics/{{id}}.png' />
							{{/if}}
						{{/each}}
					</div>
					<div>{{system.cost.value}}</div>
					<div>
						{{getRollResult 'min' system.damage @root.system.attributes}}
						{{getRollResult 'max' system.damage @root.system.attributes}}
					</div>
					<div>{{system.range.value}}</div>
					<button>{{localize 'Madness.Controls.Attack'}}</button>
				</div>
			</div>
		{{/each}}
	</section>
</section>