<section class='tab actions' data-tab='actions'>
	<section class='item-list spells'>
		{{#each spells}}
			<div class='item spell' data-id='{{id}}'>
				<div class='row'>
					<div>{{name}}</div>
					<div>
						{{#each system.requirements}}
							{{#if id}}
								<img src='systems/madness/resources/icons/magics/{{id}}.png' />
							{{/if}}
						{{/each}}
					</div>
					<div>{{cost}}</div>
					<div>
						{{minDamage}}
						{{maxDamage}}
					</div>
					<div>{{system.range.value}}</div>
					<button data-action='roll-spell'>
						{{localize 'Madness.Controls.Attack'}}
					</button>
				</div>
			</div>
		{{/each}}
	</section>
</section>