<section class='tab character'>
	<div class='identity'>
		<div>
			<label>{{localize 'Madness.Character.FirstName'}}</label>
			<input name='name' type='text' value='{{actor.name}}' />
		</div>
		<div>
			<label>{{localize 'Madness.Character.LastName'}}</label>
			<input name='system.lastName' type='text' value='{{system.lastName}}' />
		</div>
		<div>
			<label>{{localize 'Madness.Character.Age'}}</label>
			<input name='system.age' type='text' value='{{system.age}}' />
		</div>
		<div>
			<label>{{localize 'Madness.Character.Ethnicity'}}</label>
			<input name='system.ethnicity' type='text' value='{{system.ethnicity}}' />
		</div>
		<div>
			<label>{{localize 'Madness.Character.Job'}}</label>
			<input name='system.job' type='text' value='{{system.job}}' />
		</div>
		<div>
			<label>{{localize 'Madness.Character.Faction'}}</label>
			<input name='system.faction' type='text' value='{{system.faction}}' />
		</div>
	</div>
</section>
