<section class='tab character' data-tab='character'>
	<div class='identity'>
		<div>
			<label>{{localize 'Madness.Character.FirstName'}}</label>
			<input name='name' type='text' value='{{actor.name}}' />
		</div>
		<div>
			<label>{{localize 'Madness.Character.LastName'}}</label>
			<input name='system.lastName' type='text' value='{{system.lastName}}' />
		</div>
		<div>
			<label>{{localize 'Madness.Character.Age'}}</label>
			<input name='system.age' type='text' value='{{system.age}}' />
		</div>
		<div>
			<span class='details-label'>{{localize
					'Madness.Character.Ethnicity'
				}}</span>
			<div class='value'>{{ethnicity.name}}
				{{#if @root}}
					{{#if ethnicity}}
						<span class='detail-item-control' data-item-id='{{ethnicity.id}}'><i
								class='fa-solid fa-fw fa-ellipsis-v'
							></i></span>
					{{else}}
						<a
							data-action='open-compendium'
							data-compendium='madness-compendium.ethnies'
						><i class='fa-solid fa-fw fa-search'></i></a>
					{{/if}}
				{{/if}}
			</div>
		</div>
		<div>
			<label>{{localize 'Madness.Character.Job'}}</label>
			<input name='system.job' type='text' value='{{system.job}}' />
		</div>
		<div>
			<label>{{localize 'Madness.Character.Faction'}}</label>
			<input name='system.faction' type='text' value='{{system.faction}}' />
		</div>
	</div>
	<div class='attributes'>
		<button data-action='edit-attributes'>
			<i class='fa-solid fa-fw fa-edit'>{{localize Madness.Controls.Edit}}</i>
		</button>
		<ul>
			{{#each system.attributes as |attribute id|}}
				<li class='attribute' data-id='{{id}}'>
					<a class='roll-icon' data-action='roll-check' data-attribute='{{id}}'>
						<i class='fa-solid fa-fw fa-dice-d20'></i>
					</a>
					<div>{{id}}</div>
					<div>{{attribute.total}}</div>
				</li>
			{{/each}}
		</ul>
	</div>
</section>