<nav
	class='sheet-navigation'
	data-group='primary'
	data-tooltip-direction='DOWN'
>
	<a
		class='item'
		data-tab='character'
		data-tooltip='{{localize "Madness.Tab.Character"}}'
	>
		<img src='systems/madness/resources/icons/employee-badge.svg' />
	</a>
	<a
		class='item'
		data-tab='status'
		data-tooltip='{{localize "Madness.Tab.Status"}}'
	>
		<img src='systems/madness/resources/icons/user.svg' />
	</a>
	<a
		class='item'
		data-tab='actions'
		data-tooltip='{{localize "Madness.Tab.Actions"}}'
	>
		<img src='systems/madness/resources/icons/user-network.svg' />
	</a>
	<a
		class='item'
		data-tab='inventory'
		data-tooltip='{{localize "Madness.Tab.Inventory"}}'
	>
		<img src='systems/madness/resources/icons/backpack.svg' />
	</a>
	<a
		class='item'
		data-tab='notes'
		data-tooltip='{{localize "Madness.Tab.Notes"}}'
	>
		<img src='systems/madness/resources/icons/open-book.svg' />
	</a>
</nav>